<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/master.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <h1>
            Kapitel 7 Grafische Effekte.
        </h1>
        <main>
            <article>
                <details>
                  <summary>
                    <h2></h2>
                  </summary>
                  <p></p>
                </details>
            </article>
        </main>
    </div>
</body>
</html>
