<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/master.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            
        </nav>
        <h1>
            Kapitel 3.
        </h1>
        <nav>
            <ul>
                <li><a href="#">unterpunkt1</a></li>
                <li><a href="#">unterpunkt2</a></li>
                <li><a href="#">unterpunkt3</a></li>
                <li><a href="#">unterpunkt4</a></li>
                <li><a href="#">unterpunkt5</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <h2>Trivia</h2>
                <ul>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                </ul>
            </article>
        </main>
    </div>
</body>
</html>